/* Variables */
:root {
    --vh-green: #4BC357;
}

/* Animations */
@keyframes preloader-inside-white {
    0% {
        transform: scale(0, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes preloader-inside-red {
    0% {
        transform: scale(0, 0);
    }
    30% {
        transform: scale(0, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}

/* Styles */
.preloader {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: white;
    text-align: center;
    transition: all .3s;
}

.preloader .preloader-container {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: auto;
    position: absolute;
    top: 44%;
    left: 0;
    position: relative;
}

.preloader .preloader-container .animated-preloader {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--vh-green);
    border-radius: 50em;
}

.preloader .preloader-container .animated-preloader:after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50em;
    background: white;
    animation: preloader-inside-white 1s ease-in-out infinite;
}

.preloader .preloader-container .animated-preloader:before {
    content: '';
    display: inline-block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    border-radius: 50em;
    background: var(--vh-green);
    animation: preloader-inside-red 1s ease-in-out infinite;
}
