
@media (max-width: 768px) {
    .hidden-on-mobile {
        display: none;
    }
    .show-on-mobile {
        display: flex;
    }
}
@media (min-width: 769px) {
    .hidden-on-mobile {
        display: block;
    }
    .show-on-mobile {
        display: none;
    }
}
