@keyframes bganimation
{
0%   {
           background-position: 
               -100% -100%,
               200% 200%,
               -100% 200%,
               200% -100%;
      }
      50% {
           background-position: 
               150% 100%,
               -200% 100%,
               100% 0%,
               0% 100%;
      }
      100% {
           background-position: 
               -100% -100%,
               200% 200%,
               -100% 200%,
               200% -100%;
      }
}


#footer_animation{
    background: 
        radial-gradient(ellipse at center, rgba(0,0,255,0.3) 0%, rgba(0,0,0,0) 70%), /* niebieski */
        radial-gradient(ellipse at center, rgba(255,0,0,0.3) 0%, rgba(0,0,0,0) 70%), /*czerwony */
        radial-gradient(ellipse at center, rgba(0,255,0,0.3) 0%, rgba(0,0,0,0) 70%) /*zielony */
        #c3d7db;
    background-repeat: 
        no-repeat, 
        no-repeat, 
        no-repeat;
    background-size: 
        900px 900px,
        900px 900px,
        900px 900px;
    background-attachment: fixed;
    
    animation:bganimation 30s infinite;
}