/* CODIGO GRACIAS A: https://codepen.io/alexandrevale/pen/VqWwNj */

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

#banner {
    overflow: hidden;
}

#trigger,
#burger,
#burger::before,
#burger::after {
    position: absolute;
    top: 25px;
    left: 25px;
    background: #eee;
    width: 30px;
    height: 5px;
    transition: 0.2s ease;
    cursor: pointer;
    z-index: 20;
}

#trigger {
    height: 25px;
    background: none;
}

#burger::before {
    content: "";
    top: 10px;
    left: 0;
}

#burger::after {
    content: "";
    top: 20px;
    left: 0;
}

#menu--toggle:checked + #trigger + #burger {
    top: 35px;
    transform: rotate(180deg);
    transition: transform 0.2s ease;
    background: #155d1c; /* Cambia la flecha a verde cuando está desplegado */
}

#menu--toggle:checked + #trigger + #burger::before {
    width: 20px;
    top: -2px;
    left: 18px;
    transform: rotate(45deg) translateX(-5px);
    transition: transform 0.2s ease;
    background: #155d1c; /* Cambia la flecha a verde cuando está desplegado */
}

#menu--toggle:checked + #trigger + #burger::after {
    width: 20px;
    transform: rotate(-45deg) translateX(20px);
    transition: transform 0.2s ease;
    background: #155d1c; /* Cambia la flecha a verde cuando está desplegado */
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 95px;
    height: 95px;
    background: transparent; /* Fondo transparente inicialmente */
    border-bottom-right-radius: 100%;
    animation: not-checked-anim 0.2s both;
    transition: background 0.2s, width 0.2s, height 0.2s;
    overflow: hidden;
}

#menu--toggle:checked + #trigger + #burger + #menu {
    background: rgba(
        255,
        255,
        255,
        0.882
    ); /* Fondo visible cuando se selecciona */
    animation: checked-anim 1s ease both;
}

#menu--toggle:checked + #trigger ~ #menu > li,
a {
    display: block;
}

#menu--toggle:checked + #banner {
    height: 100vh;
}

li.menu_list,
a.menu_link {
    margin: 75px 0 -55px 0;
    color: #155d1c;
    line-height: 1.8;
    font-weight: 700;
    text-decoration: none;
    list-style: none;
    outline: 0;
    display: none;
}

li.menu_list {
    width: 230px;
    text-indent: 56px;
}

a.menu_link:focus {
    display: block;
    color: #333;
    background-color: #155d1c;
    transition: all 0.5s;
}

.checkbox-menu:not(:checked),
.checkbox-menu:checked {
    display: none;
}

@keyframes checked-anim {
    50% {
        width: 3000px;
        height: 3000px;
    }

    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes not-checked-anim {
    0% {
        width: 3000px;
        height: 3000px;
    }
}

#menu-toggle:checked + #trigger + #burger:after {
    width: 20px;
    top: 2px;
    left: 18px;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform 0.2s ease;
}

#menu--toggle:checked + #trigger ~ #menu > li.menu_list,
a.menu_link {
    display: block;
}

.nav-link {
    position: relative;
    overflow: hidden;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white; /* Color de la línea */
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.nav-link:hover::before {
    transform: translateX(0);
}

.nav-link-2 {
    position: relative;
    overflow: hidden;
}

.nav-link-2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2f855a; /* Color de la línea */
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.nav-link-2:hover::before {
    transform: translateX(0);
}
